// @import "typo.css";

$sec: #d9d9d9;
$prim: #262626;
$hvr: #fff;
$font_1: arial, sans-serif;
* {
  margin: 0px;
}
body {
  color: $sec;
  background-color: $prim;
  font-family: $font_1;
  font-weight: 400;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
  &.active,
  &:hover {
    color: $hvr;
  }
}
p {
  margin-bottom: 15px;
  line-height: 1.4;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
